@model CreateBottomGridDto
@{
    ViewData["Title"] = "CreateBottomGrid";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12 mt-4">
    <div class="bg-light rounded h-100 p-4 mx-4">
        <h1 class="text-primary">Yeni Hizmet Ekle</h1>
        <form action="CreateBottomGrid" method="post">
            <div class=" mb-3">
                <label>Title</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class=" mb-3">
                <label>İkon</label>
                <input asp-for="Icon" class="form-control" />
            </div>
            <div class=" mb-3">
                <label>İçerik</label>
                <textarea asp-for="Content" class="form-control"></textarea>
                
            </div>

            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
        </form>
    </div>
</div>

