@model UpdatePopulerCityDto
@{
    ViewData["Title"] = "UpdatePopulerCity";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12 mt-4">
    <div class="bg-light rounded h-100 p-4 mx-4">
        <h1 class="text-primary">Çalışan Bilgilerini Güncelle</h1>
        <form action="UpdatePopulerCity" method="post">
            <input type="hidden" asp-for="PopulerCityID" />
            <div class=" mb-3">
                <label>Başlık</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class=" mb-3">
                <label>Resim</label>
                <input asp-for="ImageUrl" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
        </form>
    </div>
</div>

